.container-technical-skills {
    text-align: center;
    padding: 20px;
}

.container-technical {
    margin: 20px 0;
}

.container-skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px;
    background-color: #333; /* Fondo oscuro */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.skill-image {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.skill-name {
    font-size: 14px;
    font-weight: bold;
    color: #fff; /* Texto blanco */
    text-align: center;
}

.skill-icon {
    font-size: 3rem; /* Tamaño del ícono */
    color: #f06529; /* Color del ícono (opcional) */
    margin-bottom: 10px; /* Espaciado debajo del ícono */
}

.technicalSkillsTitle{
    margin-bottom: 2rem;
}