.container-social-skills {
    text-align: center;
    padding: 20px;
}

.title-social-skills {
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.container-social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.social-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    background-color: #333; /* Fondo oscuro */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
}

.social-card:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.social-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Texto blanco */
    text-align: center;
}

.container-level-english {
    margin-top: 20px;
}